/* CSS code for the Header section. */

.jumbotron {
    margin-top: -1.5em;
    padding-top: 180px;
    background: url("../assets/img/chris-ried-512801-unsplash.jpg") no-repeat center;
    background-size: cover;
    height: 75vh;
    color: white;
}

#jumbotronContent {
    text-align: center;
}

#jumbH1 {
    font-size: 85px;
}

#jumbop{
    font-size: 35px;
}