/* ------------------------------
Skill Section
--------------------------------*/

.skillsh2 {
    text-align: center;
    font-size: 48px;
}

.skillsspacer {
    width: 200px;
    border-top: 1px solid #337ab7;
}

.portfolioh3 {
    color: #777;
}